{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "no-tabs": "off",
    "require-jsdoc": "off",
    "operator-linebreak": [
      "error",
      "before"
    ],
    "indent": [
      "error",
      "tab"
    ]
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
