$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$header-input-focus-border: #1a73e8;

$input-hover: #eeeeee;
$border-color: #c0c0c0;

$base-row-height: 24px;
$min-row-height: 20px;

$info-cell-background: #f8f9fa;
$base-cell-width: 120px;
$cell-border-color : #e2e2e3;
$info-cell-width: 40px;
$min-cell-width: 40px;
$selected-cell-outline-color: #3c74ff;
