@import "variables";
@import "mixins";

.excel__table {

  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: $min-row-height;
    height: $base-row-height;
  }

  .row-info, .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $info-cell-background;
  }

  .row-info {
    position: relative;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;

    border-block-start: none;

  }

  .row-data {
    display: flex;
    flex-direction: row;

  }

  .column {
    position: relative;
    min-width: $base-cell-width;
    border: 1px solid $border-color;
    height: 100%;
    border-block-start: 0;
    border-inline-start: 0;
  }

  .cell {
    min-width: $min-cell-width;
    width: $base-cell-width;
    height: 100%;
    padding: 5px;
    border: 1px solid $cell-border-color;
    border-block-start: 0;
    border-inline-start: 0;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $selected-cell-outline-color;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;

    &:hover {
      background-color: $selected-cell-outline-color;
    }

  }

  .col-resize {
    top: 0;
    width: 2px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 2px;

    &:hover {
      cursor: row-resize;
    }
  }

}
